@charset "UTF-8";
/* CSS Document reset */
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); } html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,capxion,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcapxion,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}body {line-height: 1;}blockquote,q {quotes: none;}blockquote:before,blockquote:after,q:before,q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}small,sub,sup {font-size: .60em}sub {vertical-align: sub}sup {vertical-align: super ; line-height:10px; }
/* ============= custom fonts   ============= */
@font-face {
	font-family: 'Clarendon';
	src: url('../fonts/Clare.woff') format('woff'),
	url('../fonts/Clare.svg#LMBuff') format('svg'); }
@font-face {
	font-family: 'ClarendonLig';
	src: url('../fonts/ClareLig.woff') format('woff'),
	url('../fonts/ClareLig.svg#LMBuff') format('svg'); }
@font-face {
	font-family: 'ClarendonBld';
	src: url('../fonts/ClareBol.woff') format('woff'),
	url('../fonts/ClareBol.svg#LMBuff') format('svg'); }
@font-face {
	font-family: 'AkzidGroRoman';
	src: url('../fonts/AkzidGroRom.woff') format('woff'),
	url('../fonts/AkzidGroRom.svg#LMBuff') format('svg'); }
@font-face {
	font-family: 'AkzidGroLig';
	src: url('../fonts/AkzidGroLig.woff') format('woff'),
	url('../fonts/AkzidGroLig.svg#LMBuff') format('svg'); }
@font-face {
	font-family: 'AkzidGroBlk';
	src: url('../fonts/AkzidGroBla.woff') format('woff'),
	url('../fonts/AkzidGroBla.svg#LMBuff') format('svg'); }
@font-face {
	font-family: 'AkzidGroBld';
	src: url('../fonts/AkzidGroBol.woff') format('woff'),
	url('../fonts/AkzidGroBol.svg#LMBuff') format('svg'); }
/*  =============  */

body { font-family:'Clarendon' Georgia, serif; font-size: 16px; line-height: 20px;color:#ffffff; }
.content-wrapper {
	font-family:inherit;
	width: 1024px;
	height:768px;
	position:relative;
	overflow:hidden;
	background: -webkit-linear-gradient(top, #1a457b, #0076c0, #4786c6);
	background: -moz-linear-gradient(top, #1a457b, #0076c0, #4786c6);
	background: -ms-linear-gradient(top, #1a457b, #FFFFFF0076c0, #4786c6);
	background: -o-linear-gradient(top, #1a457b, #0076c0, #4786c6); }
.gradient-stroke { display:block; height:1px; margin:10px 0 15px; background: -webkit-linear-gradient(left, rgba(75,179,245, 1), rgba(75,179,245, 0)); }
	.gradient-stroke.wh { background: -webkit-linear-gradient(left, rgba(255,255,255, 1), rgba(255,255,255, 0)); }
	.footnote .gradient-stroke { opacity:0.5; margin: 5px 0;}
h1 { font-size: 30px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }
h4 { font-size: 13px; }
h1, h2, h3, h4 { font-weight: normal; }
ul { list-style:none;}
ol { margin-left: 15px }
em { font-style:italic;}
a { text-decoration:none; color:inherit; }
header { height: 68px; padding: 0 40px; position:relative; }
	header > span, .popup-menu, .popup-menu li { position:absolute; z-index:5; }
.inner-content { width: 822px; padding-left:70px; position:relative; }
	.inner-content h2 { font-size:25px; line-height:29px; margin-top:10px; }
	.inner-content h2 { font-family: 'ClarendonBld'; }
	
.orange { color:#ee8c3a; font-style:normal; }
.popup-menu { width:100px; height:50px; right: 0; }
	.remicade-logo { right: 128px; top:15px; }
	.remicade-logo > i { display:block; width:160px; height:48px; }
	.home .remicade-logo, .remicade-logo > i  { background-image:url('../img/remicade_logo.png'); }
	.home .remicade-logo { width:425px; height:50px; top: 30px; left:38px;}
	.popup-menu .janssen-logo { width:110px; height:60px; background-image:url('../img/janssen_logo.png'); right: 40px; top: 16px;}
	.popup-menu li { width:35px; height:35px; }
	.popup-menu li, .btn-home > i { background-image:url('../img/icons.png');  }
	.popup-menu li, .btn-home > i, .remicade-logo > i, .graph { background-size:auto 100%; background-repeat:no-repeat;}
	.popup-menu .btn-home { width:50px; height:55px; right:35px; padding:15px 8px 8px; top:-5px; -webkit-border-bottom-left-radius:10px;border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px;border-bottom-right-radius:10px; background:#ffffff; text-align:center; color:#0076c0; font-size:10px; }
	.btn-home > i { display:block; width:100%; height: 35px; background-position: 2px -1px;}
	.remicade-logo, .janssen-logo { background-repeat: no-repeat; background-size:100% auto; }
.btn-reference { top:98px; background-position:-60px 0; }
.btn-mpi { top:155px; background-position:-170px 0; }
	.btn-mpi, .btn-reference, .btn-info { border:1px solid #ffffff; right: 48px; }
.popup-menu .btn-info { border-color:#9ac9e5; top:212px; background-position:-115px 0; }

.home .btn-reference, .home .btn-mpi {right: 35px;}
.home .btn-reference { top:110px; }
.home .btn-mpi { top:175px; }

.inner-wrapper { padding:5px 30px 0; height:695px; }
.b-right, .b-left { position:absolute; top:45px; background:#ffffff; width:30px; height:678px; border-radius:20px; -webkit-border-radius:20px; z-index:5; }
	.b-left { left:-20px;}
	.b-right { right: -20px; }
.circle { -webkit-border-radius:900px; border-radius:900px; }
.menu { position:absolute; bottom: -4px; }
	.menu, .menu li > ul { position:absolute; z-index:20; }
	.menu a, .popup-menu a { display:block; height:inherit; position:relative; }
	.menu > li { float: left; margin-right: 7px; padding: 10px; font-family: 'ClarendonBld'; position:relative; }
		.menu > li, .menu li > ul { -webkit-border-top-left-radius:10px;border-top-left-radius:10px; -webkit-border-top-right-radius:10px;border-top-right-radius:10px; }
	.menu > li, .main-menu { color:#0076c0; }
	.menu > li:last-child { margin-right: 0; }
	.content .menu { right:30px; }
	.content .menu > li { background:#ffffff; font-size:12px; width: auto; height:32px; margin-right: 5px; line-height: 14px; padding:10px 11px; }
	.content .menu > li span { display:block; height:inherit; }
	.content .menu .active { background:#ffc40c; }
	.menu li > ul { width:300px; background: rgba(215,242,250, 0.8); top: -65px; display:none;}
		.menu li li { float:left; width:70px; height:28px;  padding:10px 7px; border-left:1px solid rgba(255,255,255, 0.8); border-right:1px solid #93c6db;}
		.menu li li:first-child { border-left:none; -webkit-border-top-left-radius:10px;border-top-left-radius:10px;}
		.menu li li:last-child { border-right:none; -webkit-border-top-right-radius:10px;border-top-right-radius:10px;}
		.menu li .selected { background:rgba(255,255,255, 0.6); }
		.menu li > ul:after { content:''; position:absolute; left:0; right: 0; margin: 0 auto; bottom:-20px; width:0; height:0; border-top:20px solid rgba(215,242,250, 0.8);border-right:15px solid transparent;border-left:15px solid transparent; }
		
	.content .menu li, .popup, .btn-home, .menu-top, .footnote, .tabular table, .sanserif, .item-list li { font-family: 'AkzidGroLig'; }
.popup, .main-menu, .main-menu .close, .graph, .quote, .footnote { position:absolute; z-index:5; }
	.popup { width:820px; left:62px; top:167px; z-index:100; background:#929595; padding:40px; color:#faecc9; font-size:11px; line-height:15px; box-shadow:2px 8px 18px rgba(64,66,66, 0.8); display:none; }
	.popup.reference li { line-height:18px; margin-bottom:5px; }
	.popup::after { content:''; position:absolute; width:0; height:0;top: -35px; right:8px;  border-bottom:60px solid #929595;border-left:15px solid transparent;border-right:15px solid transparent; -webkit-transform:rotate(25deg);transform:rotate(25deg) }
	.popup h3 { font-family: 'AkzidGroBld'; font-size:13px; margin-bottom:8px; }
	.popup.study-design { top:282px; }
	.popup strong, .note { font-weight:normal; font-family: 'AkzidGroBld'; }
	.popup p { margin-bottom: 12px; }
.main-menu { width:930px; top:45px; right: 22px; padding:30px 25px 40px; background:#ffffff; z-index:110; -webkit-border-radius:12px;border-radius:12px; box-shadow:1px 1px 7px rgba(6, 36, 55, 0.7);  display:none; }
	.main-menu ul { overflow:hidden;}
	.main-menu .top-level > li { float:left;  font-size: 20px;line-height: 22px; margin: 0 6px; width:145px; }
	.main-menu ul > li:first-child { margin-left: 0;  }
	.main-menu ul > li:last-child { margin-right:0; }
	.main-menu ul > li > span { display: block; padding:12px 10px; height: 66px;-webkit-border-radius:10px 10px 0 0; }
	.main-menu ul > li:first-child > span { background:#ffc40c; }
	.main-menu ul > li:nth-child(2) > span { background:#ee8c3a; }
	.main-menu ul > li:nth-child(3) > span { background:#a7aaaa; }
	.main-menu ul > li:nth-child(4) > span { background:#f9f0d1; }
	.main-menu ul > li:nth-child(5) > span { background:#a7aaaa; }
	.main-menu ul > li:last-child > span { background:#c5d1ec; }
	.main-menu .top-level li li { font-size: 16px; line-height:20px; padding:14px 10px; background:#f2f4f5; border-bottom:2px solid #fff; }
	.main-menu .top-level li li:last-child { -webkit-border-bottom-left-radius:10px;border-bottom-left-radius:10px; -webkit-border-bottom-right-radius:10px;border-bottom-right-radius:10px;}
.menu-top { font-size:25px; margin-top:25px; padding: 0 0 30px 70px; position:relative; }
	.menu-top > span { position:absolute; top: -30px; left:0; width:60px; height:50px; background:url('../img/large_blue_house.png') center center no-repeat; background-size:auto 100%; }
	.main-menu .close { width:35px; height:35px; right:25px; top:25px; background: url('../img/blue_close.png') 0 0 no-repeat;background-size:auto 100%; }
.home .popup { top:178px; }
	.home .popup::after { right:0;} 
	.home .popup.study-design { top:242px; }
.graph { top:154px; left: 15px; width: 800px; height:310px; }
.quote { width:140px; height:360px; padding:20px; top:165px; right:0px; background:#929595; color:#faecc9; font-size:17px; line-height:20px; }
.footnote { font-size:10px; line-height:12px; bottom:180px; left:104px; height:30px; width:450px; }
.item-list { margin:7px 0 0 15px; list-style:disc; }
	.item-list li { margin-bottom: 8px; font-size:13px; line-height:16px; }
.content-wrapper .hide { display:none; }