<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>content_keyfile</key>
		<string><![CDATA[index.html]]></string>
		<key>shelf_title</key>
		<string><![CDATA[Pneumovax - Jan 2017]]></string>
		<key>type</key>
		<string><![CDATA[html]]></string>
		<key>property_supported_orientations</key>
		<string><![CDATA[L]]></string>
		<key>property_initial_orientation</key>
		<string><![CDATA[L]]></string>
		<key>property_support_fullscreen</key>
		<string><![CDATA[YES]]></string>
	</dict>
</plist>