

<section class="col-r fullwidth home">
    <article class="content">
       <h1>3-dose Rotavirus
Dosing&nbsp;Interval Aid for
Healthcare Professionals</h1>

<p class="intro">Please enter your AHPRA number to
confirm&nbsp;that you are a registered
Australian&nbsp;Healthcare Professional
and&nbsp;are&nbsp;accessing this website within
the&nbsp;scope of your daily practice.</p>
   <p class="field"> <input type="text" name="ahpraNo" placeholder="AHPRA No. AAA 0000000000" /> <button>Log in</button> </p>
    </article>
    <div class="castle"></div>
</section>
<!--<section class="col-r baby">
   Home!!!
</section>-->
