
<section class="col-l info">
    <article class="content">
       <ul class="capsules">
           <li><a href="./">RotaTeq Dosing Interval Aid</a></li>
           <li>About this website</li>
           <li>How to use this website</li>
           <li>Terms and conditions</li>
           <li>Product Information</li>
           <li>About Seqirus</li>
       </ul>
    </article>
</section>
<section class="col-r info">
    <article class="content">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <h2>About this website</h2>
                <p>This is a <strong>RotaTeq Dosing Interval Aid</strong>.</p>
<p>This is a smart device based websitelication designed to assist Australian healthcare
professionals in establishing immunisation cut-off dates for RotaTeq.</p>
<p>Please note that the Dosing Interval Aid is a guide only to assist with identifying the
range of dates for the administration of the 1st, 2nd and 3rd dose of RotaTeq, following
a specific birth date.</p>
<p>It will also calculate the 6 week, 4 month and 6 month immunisation dates based on
the birthdate. Please note that the actual dates for immunisation may vary from the
calculated dates depending on the date of the child’s last immunisation and other
circumstances. Please always refer to the Australian Immunisation Handbook and
relevant Websiteroved Product Information when establishing immunisation dates.</p>
<p>This website is intended for Australian healthcare professional use only.</p>
<p>The development of this websitelication was sponsored by Seqirus, Parkville VIC 3052.</p>
                
            </div>
        </div>
        <!-- Add Scroll Bar -->
        <div class="swiper-scrollbar"></div>
    </div>
    </article>
    <span class="train"></span>
</section>
