<ul class="nav top-nav">
    <li><a href="./">RotaTeq Dosing Interval Aid</a></li>
    <li><a href="info">How to use this website</a></li>
</ul>
<section class="col-l wheel">
    <article class="content">
     <ul class="capsules dates">
         <li>
             <h3 class="title">Birthday</h3>
             <input type="text" name="datepicker" id="datepicker" placeholder="Click here or spin the wheel">
         </li>
         <li>
            <h3 class="title bg-dgreen">RotaTeq Dosing Intervals</h3>
            <p class="warn">Minimum interval between doses is 4 weeks</p>
            <table cellpadding="0" cellspacing="0" border="0" class="tb-dgreen">
                <tr>
                    <th width="60">Dose</th>
                    <th>Date Interval</th>
                </tr>
                <tr>
                    <td>Dose 1</td>
                    <td class="dose1">---</td>
                </tr>
                 <tr>
                    <td>Dose 2</td>
                    <td  class="dose2">---</td>
                </tr>
                <tr>
                    <td>Dose 3</td>
                    <td  class="dose3">---</td>
                </tr>
            </table>
         </li>
         <li>
             <h3 class="title bg-purple">National Immunisation Program</h3>
            <table cellpadding="0" cellspacing="0" border="0" class="tb-purple">
                <tr>
                    <th width="60">Age</th>
                    <th>Immunisation date</th>
                </tr>
                <tr>
                    <td>6&nbsp;weeks</td>
                    <td class="age1">---</td>
                </tr>
                 <tr>
                    <td>4&nbsp;months</td>
                    <td class="age2">---</td>
                </tr>
                <tr>
                    <td>6&nbsp;months</td>
                    <td class="age3">---</td>
                </tr>
            </table>

         </li>
     </ul>
    </article>
</section>
<section class="col-r wheel">
    <article class="content">
        <div class="wheel-top"><span class="btn-info"></span></div>
        <div id="wheel"></div>
        <span class="reset icon icon-sync"></span>
    </article>
</section>
<ul class="nav footer-nav">
    <li><a href="info">About this website</a></li>
    <li><a href="info">Terms and conditions</a></li>
    <li><a href="info">Product Information</a></li>
    <li><a href="info">About Seqirus</a></li>
</ul>
<aside class="modal">
    <div class="ui">
        <span class="close icon icon-cross"></span>
        If an infant presents for their 2nd dose
after reaching 29 weeks of age,
a&nbsp;2nd&nbsp;and&nbsp;final dose can be given,
provided the infant is presenting
before&nbsp;they turn 33 weeks old.
    </div>
</aside>

