/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3";

* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); } small,sub,sup {font-size: .45em;line-height:10px; position:relative; }sub {vertical-align: text-bottom}sup {vertical-align:super; }
/* CSS Document reset */
/* ============= custom fonts   ============= */
@mixin fontface($f){
	@font-face {
		font-family: $f;
		src: url('../fonts/'+$f+'.woff2') format('woff2'),
		url('../fonts/'+$f+'.woff') format('woff'),
		url('../fonts/'+$f+'.svg#webfont') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}

@include fontface('Noyh-Light');
@include fontface('Noyh-Medium');
@include fontface('Noyh-Bold');
@include fontface('Noyh-Black'); 
@include fontface('NoyhSlim-SemiLight');
@include fontface('NoyhSlim-Bold');

%noyLight {
	font-family: "Noyh-Light";
}
%noyMedium {
	font-family: "Noyh-Medium", Arial, sans-serif;
}
%noyBold {
	font-family: "Noyh-Bold";
}
%noyBlack {
	font-family: "Noyh-Black";
}
%noyhSlimLight {
	font-family: "NoyhSlim-SemiLight";
}
%noyhSlimBold {
	font-family: "NoyhSlim-Bold";
}


/*@font-face {
	font-family: 'GothamLightCond';
	src: url('../fonts/GothamHTF-LightCondensed.woff') format('woff'), url('../fonts/GothamHTF-LightCondensed.svg#GothamHTFLightCond') format('svg');
}
@font-face {
	font-family: 'GothamNarrowMedium';
	src: url('../fonts/GothamNarrowMedium.woff') format('woff'), url('../fonts/GothamNarrowMedium.svg#GothamNarrowMedium') format('svg');
}
@font-face {
	font-family: 'GothamBookCond';
	src: url('../fonts/GothamHTF-BookCondensed.woff') format('woff'), url('../fonts/GothamHTF-BookCondensed.svg#GothamHTFBookCond') format('svg');
}
@font-face {
	font-family: 'GothamBoldCond';
	src: url('../fonts/GothamHTF-BoldCondensed.woff') format('woff'), url('../fonts/GothamHTF-BoldCondensed.svg#GothamHTFBoldCond') format('svg');
}
@font-face {
	font-family: 'GothamMediumCond';
	src: url('../fonts/GothamHTF-MediumCondensed.woff') format('woff'), url('../fonts/GothamHTF-MediumCondensed.svg#GothamHTFMediumCond') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueLight';
	src: url('../fonts/HelveticaNeue-Light.woff') format('woff'), url('../fonts/HelveticaNeue-Light.svg#HelveticaNeueLight') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueThinCond';
	src: url('../fonts/HelveticaNeue-ThinCond.woff') format('woff'), url('../fonts/HelveticaNeue-ThinCond.svg#HelveticaNeueThinCond') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueThinCond';
	src: url('../fonts/HelveticaNeue-ThinCond.woff') format('woff'), url('../fonts/HelveticaNeue-ThinCond.svg#HelveticaNeueThinCond') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueMediumCond';
	src: url('../fonts/HelveticaNeue-MediumCond.woff') format('woff'), url('../fonts/HelveticaNeue-MediumCond.svg#HelveticaNeueMediumCond') format('svg');
}
@font-face {
	font-family: 'HomesteadInline';
	src: url('../fonts/Homestead-Inline.woff') format('woff'), url('../fonts/Homestead-Inline.svg#HomesteadInline') format('svg');
}
@font-face {
	font-family: 'Lobster13';
	src: url('../fonts/Lobster13.woff') format('woff'), url('../fonts/Lobster13.svg#Lobster13') format('svg');
}*/
/*  =============  */
/*.slide footer.info-pi .pi, .slide footer.info-ref .refs { display:block; }*/
/* breadcrumb */
/*.handbook{text-decoration: underline;}*/
%bg {
 	background-repeat: no-repeat;
	background-size: 100% auto;
}
%abs { position: absolute; }
%radius {
	@include border-radius(10px);
}
%trans { @include transition(all 0.35s ease-out); }
$wine: #bb5409;
$grey-dark: #4c4c4c;

body {
	@extend %noyMedium;
	font-size: 18px;
	line-height: 22px;
	color: $grey-dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slide {
	font-family: inherit;
	width: 1024px;
	height: 768px;
	position: relative;
	overflow: hidden;
	@extend %bg;
	.hide {
		display: none;
	}
	.note { font-size: 14px; line-height: 1.1em; }
}
.content {
	padding-top: 50px;
	margin: auto 50px;
	position: relative;
}
h1 {
	font-weight: normal;
	&.title {
		font-size: 40px;
		line-height: 0.8em;
		text-align: center;
		color: #fff;
		width: 920px;
		height: 110px;
		letter-spacing: -0.005em;
		margin: 0 auto 40px;
		border: 2px solid #ffffff;
		@extend %radius;
		> span {
			display: table-cell;
			vertical-align: middle;
			width: inherit;
			height: inherit;
		}
		sup {
			font-size: 0.35em;
			top: -3px;
		}
	}
}
h2 {
	font-weight: normal;
}
h3 {
	font-weight: normal;
	font-family: inherit;
	color: inherit;
}
ul {
	list-style: none;
}
.list {
	list-style: disc;
	margin-left: 22px;
}
ol {
	margin-left: 20px;
}
em {
	font-style: italic;
}
sup {
	//@extend %noyLight;
}
strong {
	font-weight: normal;
	@extend %noyBold;
}
th {
	vertical-align: middle;
}
td {
	vertical-align: middle;
}
a {
	text-decoration: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	display: block;
}
a.pi {
	display: inline;
}
.bg { @extend %bg; }

nav {
	li {
		-webkit-transition: all 0.35s ease-in-out;
		transition: all 0.35s ease-in-out;
	}
	&:after {
		-webkit-transition: all 0.35s ease-in-out;
		transition: all 0.35s ease-in-out;
	}
}
.nav {
	li {
		>span {
			-webkit-transition: all 0.35s ease-in-out;
			transition: all 0.35s ease-in-out;
		}
		&:before {
			position: absolute;
			width: 100%;
			left: 0;
			right: 0;
			top: -30px;
			margin: 0 auto;
			opacity: 1;
			background-repeat: no-repeat;
			background-size: 100% auto;
		}
		&:after {
			position: absolute;
			content: "";
			width: 100px;
			height: 75px;
			background: url('../img/thumbs.png');
			bottom: -90px;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 5;
			background-repeat: no-repeat;
			background-size: 100% auto;
		}
		span {
			position: absolute;
		}
		&:last-child {
			i {
				width: 16px;
				height: 20px;
				background-image: url('../img/book.svg');
				margin-top: 10px;
			}
		}
		&:nth-last-child(2) {
			i {
				border: 1px solid rgba(100, 100, 100, 0.6);
				margin-top: 10px;
			}
		}
		&:first-child {
			&:after {
				left: -52px;
			}
		}
		&:nth-child(2) {
			&:after {
				background-position-y: -75px;
			}
		}
		&:nth-child(3) {
			&:after {
				background-position-y: -152px;
			}
		}
		&:nth-child(4) {
			&:after {
				background-position-y: -229px;
			}
		}
		&:nth-child(5) {
			&:after {
				background-position-y: -307px;
			}
		}
		&:nth-child(6) {
			&:after {
				background-position-y: -383px;
			}
		}
		&:nth-child(7) {
			&:after {
				background-position-y: -459px;
			}
		}
		&:nth-child(n+8) {
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
		i {
			background-repeat: no-repeat;
			background-size: 100% auto;
		}
	}
	.active {
		&:first-child {
			&:before {
				content: "";
				width: 33%;
				top: -38px;
				height: 28px;
				//background-image: url('../img/map.svg');
			}
		}
		&:nth-child(2) {
			&:before {
				content: "Cholera";
			}
		}
		&:nth-child(3) {
			&:before {
				content: "At-risk travellers";
			}
		}
		&:nth-child(4) {
			&:before {
				content: "DUKORAL";
				color: #fff;
			}
		}
		&:nth-child(5) {
			&:before {
				content: "Summary";
			}
		}
		&:nth-child(6) {
			&:before {
				content: "Vaccination schedule";
			}
		}
		&:nth-child(7) {
			&:before {
				content: "Resources";
			}
		}
		&:after {
			box-shadow: 0 0 8px rgba(100, 100, 100, 0.8);
		}
	}
	li[data-href='ref'] {
		span {
			left: 0;
			top: 0;
			width: 100%;
			height: 44px;
			top: -6px;
			bottom: auto;
			z-index: -1;
			background: none;
		}
	}
	li[data-href='pi'] {
		span {
			left: 0;
			top: 0;
			width: 100%;
			height: 44px;
			top: -6px;
			bottom: auto;
			z-index: -1;
			background: none;
		}
	}
	li.active {
		&:last-child {
			color: inherit;
		}
		&:nth-last-child(2) {
			color: inherit;
		}
	}
	li[data-href='ref'].active {
		span {
			background: rgba(255, 168, 47, 1);
			box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
		}
	}
	li[data-href='pi'].active {
		span {
			background: rgba(255, 168, 47, 1);
			box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
		}
	}
}

.logo {
	@extend %abs;
	padding: 10px 22px 10px 28px;
	background-color: rgba(#fff, 0.9);
	right: 56px;
	bottom: 25px;
	i {
		display: block;
		width: 122px;
		height: 40px;
		background-image: url('../img/dukoral_logo.png');
		@extend %bg;
	}
}
.logo, .arrow  {
	@extend %radius;
	z-index: 5;
}
.btn {
	@extend %abs;
	@extend %bg;
	z-index: 5;
	&.arrow {
		width: 28px;
		height: 60px;
		top: -82px;
		right: 25px;
		background-color: rgba(#fff, 0.7);
		i {
			display: block;
			width: 20px;
			height: 22px;
			margin: 18px auto 0;
			background-image: url('../img/arrow.svg');
			background-position: 0 center;
			@extend %bg;
		}
	}
	&.anti {
		width: 108px;
		height: 64px;
		left: 50px;
		bottom: 25px;
		background-image: url('../img/anti.png');
	}
	&.border {
		@extend %noyLight;
		font-size: 18px;
		line-height: 0.9em;
		text-align: right;
		padding: 13px 12px 11px 53px;
		right: 56px;
		bottom: 25px;
		color: #fff;
		letter-spacing: -0.01em;
		border: 1px solid #fff;
		@extend %radius;
		@extend %trans;
		&:after {
			content: '';
			@extend %abs;
			left: 10px;
			top: 11px;
			width: 32px;
			height: 32px;
			background-image: url('../img/arrow2.svg');
			@extend %bg;
			@extend %trans;
			
		}
		> i {
			&:first-child { display: block; }
			&:last-child { display: none; margin-right: 5px; }
		}
		&.prev {
			color: $grey-dark;
			background-color: rgba(#fff, 0.9);
			//padding-right: 20px;
			> i:first-child { display: none; }
			> i:last-child { display: block; }
			&:after {
				@include transform(rotate(180deg));
			}
		}
		&.blk {
			border-color: $grey-dark;
			background-color: $grey-dark;
			&:after { background-image: url('../img/arrow3.svg'); }
		}
	}
}
.prev {
	.btn.border {
		color: $grey-dark;
		background-color: rgba(#fff, 0.9);
		//padding-right: 20px;
		> i:first-child { display: none; }
		> i:last-child { display: block; }
		&:after {
			@include transform(rotate(180deg));
		}
	}
}
.banner {
	&:after {
		position: absolute;
		content: "";
		left: 0;
		right: 0;
		top: 17px;
		width: 765px;
		height: 100px;
		margin: 0 auto;
		color: #adb7b1;
		font-size: 42px;
		font-family: 'HomesteadInline';
		font-style: italic;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.bullet {
	padding-left: 15px;
	position: relative;
	margin-bottom: 3px;
	li {
		margin-bottom: 5px;
		&:last-child { margin-bottom: 0; }
		&:before {
			position: absolute;
			content: "•";
			left: 0;
			/*top: 0.10em;*/
			font-size: 1.55em;
		}
		
	}
}
.up {
	.arrow {
		&:before {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			margin-top: 12px;
		}
	}
	.nav {
		.active {
			&:before {
				opacity: 0;
			}
		}
	}
}
.cols {
	>li {
		float: left;
		width: 50%;
		height: inherit;
		position: relative;
		>div {
			padding: 25px;
		}
	}
	h3 {
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
}

.item {
	.product {
		width: 350px;
		height: 210px;
		background-image: url('../img/product_shot.png');
		margin: -20px auto 70px;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			right: 0;
			left: 0;
			bottom: -60px;
			width: 210px;
			height: 70px;
			margin: 0 auto;
			background-image: url('../img/dukoral_logo.png');
		}
	}
}
.box {
	&:after {
		content: "";
		position: absolute;
		right: 0;
		left: 0;
		bottom: -100px;
		width: 145px;
		height: 80px;
		background-image: url('../img/seqirus_logo.png');
		margin: 0 auto;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	strong {
		font-family: 'HelveticaNeueMediumCond';
	}
}
.pi {
	p {
		text-align: center;
	}
	.review {
		font-size: 22px;
		line-height: 24px;
		margin-bottom: 10px;
		font-family: 'HelveticaNeueThinCond';
	}
	.small {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 5px;
		font-family: 'HelveticaNeueThinCond';
	}
	.box {
		font-family: 'HelveticaNeueThinCond';
		font-size: 17px;
		line-height: 20px;
		padding: 15px;
		background: #fff;
		border: 1px solid #000;
		color: #000;
		position: relative;
	}
}
.info {
	li {
		&:after {
			display: none;
		}
	}
}
.product {
	background-repeat: no-repeat;
	background-size: 100% auto;
	&:after {
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
}
/*.planes {
	li {
		i {
			background-repeat: no-repeat;
			background-size: 100% auto;
		}
	}
}*/
footer {
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	position: absolute;
	font-size: 15px;
	line-height: 18px;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: 150px;
	/*box-shadow: inset 0px 0px 6px 2px rgba(160, 160, 160, 0.8);*/
	background: linear-gradient(top, rgba(255, 255, 255, 1) 12%, rgba(200, 200, 200, 1) );
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 12%, rgba(200, 200, 200, 1) );
	-webkit-transform: translate3d(0, 98%, 0);
	transform: translate3d(0, 98%, 0);
	z-index: 5;
	.nav {
		margin: 6px 0 0 60px;
		width: 89%;
		li {
			text-align: center;
			letter-spacing: 0.01em;
			height: 18px;
			width: 45px;
			float: right;
			padding: 4px 0;
			border-right: 1px solid rgba(0, 0, 0, 0.45);
			position: relative;
			&:nth-last-child(n+3) {
				width: 120px;
				float: left;
			}
			&:first-child {
				text-align: left;
				width: 70px;
				padding-left: 5px;
			}
			i {
				display: inline-block;
				padding: 1px 5px;
			}
		}
	}
	.item {
		width: 696px;
		margin: 100px auto 0;
		padding-bottom: 7em;
		font-size: 16px;
		line-height: 18px;
		color: #787878;
		h3 {
			color: inherit;
			padding-bottom: 8px;
			margin-bottom: 10px;
			border-bottom: 1px solid rgba(120,120,120, 0.4);
		}
		li {
			margin-bottom: 10px;
			letter-spacing: -0.008em;
		}
	}
	.refs {
		font-family: 'HelveticaNeueLight';
	}
	sup {
		font-family: inherit;
	}
	&.up {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
}

