body{
	background: #666;
}
body *{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-webkit-user-drag: none;}
	
.slide {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-flex:0;
	width:1024px !important;
	height:768px !important;
	overflow: hidden;
	-webkit-transform:translate3d(0,0,0);}