/* CSS Document reset */
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); } html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,capxion,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcapxion,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}body {line-height: 1;}blockquote,q {quotes: none;}blockquote:before,blockquote:after,q:before,q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}small,sub,sup {font-size: .60em}sub {vertical-align: sub}sup {vertical-align: super; line-height:10px; }


/* =================================================
===FONTS============================================
================================================= */
@font-face {
	font-family: "GillSans-Bold";
	src: url('../ASSETS/Fonts/GillSans/GillSans-Bold.woff') format('woff'),
	url('../ASSETS/Fonts/GillSans/GillSans-Bold.svg#GillSans-Bold') format('svg'); }
@font-face {
	font-family: "GillSans-Light";
	src: url('../ASSETS/Fonts/GillSans/GillSans-Light.woff') format('woff'),
	url('../ASSETS/Fonts/GillSans/GillSans-Light.svg#GillSans-Light') format('svg'); }
@font-face {
	font-family: "GillSans";
	src: url('../ASSETS/Fonts/GillSans/GillSans.woff') format('woff'),
	url('../ASSETS/Fonts/GillSans/GillSans.svg#GillSans') format('svg'); }
@font-face {
	font-family: 'Helvetica-Light';
	src: url('../ASSETS/Fonts/Helvetica/Helvetica-Light.woff') format('woff'),
	url('../ASSETS/Fonts/Helvetica/Helvetica-Light.svg#Helvetica-Light') format('svg'); }
@font-face {
	font-family: 'HelveticaNeue-Condensed';
	src: url('../ASSETS/Fonts/HelveticaNeue/HelveticaNeue-Condensed.woff') format('woff'),
	url('../ASSETS/Fonts/HelveticaNeue/HelveticaNeue-Condensed.svg#HelveticaNeue-Condensed') format('svg'); }
@font-face {
	font-family: 'HelveticaNeue-Heavy';
	src: url('../ASSETS/Fonts/HelveticaNeue/HelveticaNeue-Heavy.woff') format('woff'),
	url('../ASSETS/Fonts/HelveticaNeue/HelveticaNeue-Heavy.svg#HelveticaNeue-Heavy') format('svg'); }
@font-face {
	font-family: 'HelveticaNeue-Light';
	src: url('../ASSETS/Fonts/HelveticaNeue/HelveticaNeue-Light.woff') format('woff'),
	url('../ASSETS/Fonts/HelveticaNeue/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg'); }
@font-face {
	font-family: 'HelveticaNeue-LightCond';
	src: url('../ASSETS/Fonts/HelveticaNeue/HelveticaNeue-LightCond.woff') format('woff'),
	url('../ASSETS/Fonts/HelveticaNeue/HelveticaNeue-LightCond.svg#HelveticaNeue-LightCond') format('svg'); }
@font-face {
	font-family: 'HelveticaNeue-MediumCond';
	src: url('../ASSETS/Fonts/HelveticaNeue/HelveticaNeue-MediumCond.woff') format('woff'),
	url('../ASSETS/Fonts/HelveticaNeue/HelveticaNeue-MediumCond.svg#HelveticaNeue-MediumCond') format('svg'); }
@font-face {
	font-family: 'HelveticaNeue-ThinCond';
	src: url('../ASSETS/Fonts/HelveticaNeue/HelveticaNeue-ThinCond.woff') format('woff'),
	url('../ASSETS/Fonts/HelveticaNeue/HelveticaNeue-ThinCond.svg#HelveticaNeue-ThinCond') format('svg'); }
@font-face {
	font-family: 'HelveticaNeue-LightItalic';
	src: url('../ASSETS/Fonts/HelveticaNeue/HelveticaNeue-LightItalic.woff') format('woff');}
/*  =============  */


#home{display:block;}

/* =================================================
===GENERAL==========================================
================================================= */
body{
	background: #666;
	font-family:"GillSans", Helvetica, Arial, sans-serif;
	color: #646464;;
}
body *{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-webkit-user-drag: none;}

.slideshow{
	font-family:inherit;
	position: absolute;
	top: 0;
	left: 0;
	width:1024px !important;
	height:768px !important;
	overflow: hidden;}

.slide {
	display:none;
	font-family:inherit;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-flex:0;
	width:1024px !important;
	height:768px !important;
	overflow: hidden;
	-webkit-transform:translate3d(0,0,0);}

.contents { padding:20px 20px 20px 68px; position:relative; height:728px; }

.overlap{position:absolute;}

.hidden{visibility:hidden;}

.divCentre{
	text-align:center;
	display:table-cell;
	vertical-align:middle;}

.blackPattern{
	width:100%;
	height:100%;
	background:url("../ASSETS/GENERAL/background.jpg");
	background-size:100% auto;}

.whitePattern{
	width:100%;
	height:100%;
	background:url("../ASSETS/Page%201/graph_background.png");
	background-repeat: no-repeat;
	background-size:100% auto;}

.confetti{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:url("../ASSETS/GENERAL/confetti.png");
	background-size:100% auto;}

.confettiFinal{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:url("../ASSETS/GENERAL/bottom_confetti.png");
	background-size:100% auto;}

.logo{
	z-index:1000;
	position:absolute;
	height:30px; 
	bottom:10px; 
	right:20px;}

.close{
	position:absolute;
	height:40px;
	right:10px;
	top:50px;}

.backButton{
	z-index:1000;
	position:absolute;
	width:50px;
	height:50px;
	left:10px;
	top:40px;}

#NavDownBanner{
	width:800px;
	height:120px;
	background-color:#fb00ff;
	color:white;
	font-family:"HelveticaNeue-ThinCond";
	font-size:49px;
	left:182px;
	top:397px;}
	
#NavUpBanner{
	width:593.4px;
	height:69px;
	background-color:#fb00ff;
	color:white;
	font-family:"HelveticaNeue-ThinCond";
	font-size:49px;
	left:182px;
	top:281px;}

.slideFooter{
	z-index:1000;
	position:absolute;
	bottom:10px;
	left:0px;
	width:100%;}

.slideFooter ul li{
	text-align: center;
	padding:0px;
	display:inline;
	float:left;
	width:120px;
	color:transparent;
	font-size:14px;
	font-family:"GillSans-Light";}
	
/************************************
HOME PAGE
********************************** */

.floatingRef{
	position:absolute;
	font-family:"HelveticaNeue-Condensed";
	color:#8D441A;
	font-size:9px;}

#home .floatingRef{
	top:430px;
	left:730px;}

#homeBanner{
	width:900px;
	top:220px;
	display:block;
	left:80px}

#home65{
	width:260px;
	top:260px;
	left:30px;}

#home70{
	width:260px;
	top:260px;
	right:20px;}

#magnify{
	width:70px;
	top:180px;
	right:50px;}

#home .h1Ref{
	position:absolute;
	top:110px;
	right:100px;
	font-size:9px;
	color:white;}

/************************************
FACTS
********************************** */

#facts .container{
	text-align:center;
	margin-top:40px;
	width:900px;}

#facts .container li{
	font-family:"GillSans";
	font-size:26px;
	line-height:32.5px;
	color: #472d21;
	margin-left:150px;}

#facts .container li{
	background: rgba(255,255,255,0.6);
	margin-top:30px;
	padding-top:15px;
	padding-bottom:15px;}

#facts #foot{
	position:absolute;
	font-family:"HelveticaNeue-ThinCond";
	font-size:22px;
	line-height:24px;
	bottom:90px;
	left:150px;
	color:#7F6C64;
	width:750px;}

#facts #b1{
	position:absolute; 
	height:180px; 
	left:20px; 
	top:95px;}

#facts #b2{
	position:absolute;
	height:170px;
	left:30px;
	top:230px;}

#facts #b3{
	position:absolute;
	height:180px;
	left:40px;
	top:360px;}

#facts #b4{
	position:absolute;
	height:200px;
	left:10px;
	top:520px;}

/************************************
RESOURCES
********************************** */

#resources .whiteBox{
	width:474px;
	height:448px;
	background-color: rgba(255,255,255,0.7);
	font-size:17px;
	line-height:18px;
	font-family:"GillSans-Light";}

#resources .whiteBox h3{
	font-family:"GillSans-Bold";
	color: #472d21;
	font-size:22px;
	line-height:25px;
	text-align:left;}

#resources .whiteBox #poster{
	position:absolute;
	width:164px;
	top:165px;
	left:20px;}

#resources .whiteBox #mailer{
	position:absolute;
	width:66.5px;
	top:280px;
	left:150px;}

#resources .whiteBox #risk_form{
	width:162px;
	position:absolute;
	left:275px;
	top:165px;}

#resources .whiteBox p{
	margin-left:20px;
	line-height:20px;}

#resources .whiteBox a{
	color:#ff9800;
	font-size:27px;
	margin:20px;}

#resources #balloons_1{
	position:absolute;
	top:120px;
	left:340px;
	height:170px;}

#resources #balloons_2{
	position:absolute;
	top:150px;
	right:20px;
	height:170px;}

#resources #balloons_3{
	position:absolute;
	bottom:20px;
	right:130px;
	width:260px;}
	
/************************************
VACCINATION
********************************** */
#vaccination{
	text-align:center;}

#vaccination .whiteBox{
	color:#472d21;
	font-family:"GillSans-Light";
	width:641px;
	height:409px;
	background-color:white;
	margin:0 auto;
	margin-top:30px;
	opacity:0.7;}

#vaccination .container{
	position:absolute;
	width:641px;
	height:409px;
	top:250px;
	left:170px;}

#vaccination h3{
	font-size:20px;
	line-height:24px;
	padding-top:30px;
	color:#472d21;
	font-family:"GillSans";}

#vaccination #col1{
	text-align:left;
	left:110px;
	top:100px;
	font-size:20px;
	line-height:22px;
	font-family:"GillSans-Light";}

#vaccination #col2{
	right:80px;
	top:100px;
	text-align:left;
	font-size:20px;
	line-height:22px;
	font-family:"GillSans-Light"}

#vaccination #col1 li{
	padding-bottom:10px;
	padding-left:5px;}

#vaccination #col2 li{
	padding-bottom:15px;
	padding-left:5px;}

#vaccination .foot{
	width:100%;
	left:0px;
	font-size:14px; 
	line-height:16px; 
	top:290px;
	color:#646464;
	font-family: "GillSans-Light";}

#vaccination h3{
	padding-bottom:10px;}

#vaccination #footnote{
	font-family:"HelveticaNeue-LightCond";
	font-size:14.5px;
	padding-top:20px;}

/************************************
PNEUMOVAX23
********************************** */
#pneumovax23 #pneumoBanner{
	width:950px;
	position:absolute;
	top:130px;
	left:50px;}

#pneumovax23 #pneumo65{
	position:absolute;
	width:230px;
	top:350px;
	left:0px;}

#pneumovax23 #pneumo70{
	position:absolute;
	width:230px;
	top:340px;
	right:10px;}

#pneumovax23 .pneumoLogo{
	width:250px;
	position:absolute;
	bottom:80px;
	left:400px;}

#pneumovax23 .floatingRef{
	top:455px;
	left:665px;}

#pneumovax23 .h1Ref{
	position:absolute;
	top:110px;
	right:105px;
	font-size:9px;
	color:white;}

/************************************
POP UP GENERAL STYLE
********************************** */

.popup{
	height:100vh;
	width:100%;
	position:absolute;
	text-align:center;
	top:0px;
	left:0px;
	display:none;}

#comm{
	background-color: black;}

/************************************
FLU vs PNEUMO POP UP
********************************** */

#fvp #whiteBox{
	height:536px;
	width:964px;
	right:40px;
	top:150px;;
	background-color:white;
	opacity:0.7;}

#fvp .container{
	height:536px;
	width:964px;
	right:40px;
	top:150px;}

#fvpGraph{
	position:absolute;
	top:123px;
	left:90px;
	height:288px;}

#fvp hr{
	border:0;
	width:835px;
	height:1px;
	background:#472d21;
	margin-left:80px;
	margin-top:35px;}

#yValues{
	font-size: 20px;
	position:absolute;
	left:45px;
	top:40px;
	list-style:none;}	

#yValues li{
	text-align:right;
	padding-bottom:52px;}

#yLabel{
	-ms-transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
	transform:rotate(270deg);
	position:absolute;
	left:-55px;
	top:190px;
	font-size:20px;}

#xLabel{
	margin-top:30px;
	width:100%;
	text-align: center;
	font-size:20px;
}

#xValues{
	font-size: 20px;
	position:absolute;
	left:0px;
	top:395px;}	

#xValues li{
	font-size:20px;
	line-height:72px;
	display:inline;
	float:left;
	padding-left:165px;}	

#fvp #source{
	font-size:14px;
	line-height:25px;
	text-align:left;
	left:50px;
	bottom:5px;}
	
#fvp #legend{
	font-size:20px;
	line-height:25px;
	right:30px;
	bottom:10px;
	text-align:right;
	color:#0093FF;}
/************************************
FONT CONFIGURATION
********************************** */
	
.orange{
	color: #ff9800;}

.brown{
	color: #482E21;}

.light{
	font-family:"GillSans-Light";}

.regular{
	font-family:"GillSans";}

.italic{
	font-family:"HelveticaNeue-LightItalic";}

#facts li sup{
	top: -1.3em;}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  font-size:9px;}

h1 sup {
  top: -5em;}

h2 sup {
  top: -2.5em;}

h3 sup {
	top:-1em}

h4 sup {
  top: -1.5em;}

h1{
	margin-top:100px;
	font-size: 72px;
	font-family: "GillSans";
	color: white;
	text-align: center;}
	
h2{
	font-size:40px;
	line-height:44px;
	font-family:"GillSans";
	text-align:center;
	color:#472d21;
	margin-top:50px;}

h3{
	font-size:27px;
	line-height:32px;
	color:#ff9800;
	text-align:center;
	padding:20px;}
	
h4{
	font-size:22px;
	line-height:30px;
	font-family:"GillSans-Light";
	text-align:center;
	margin-top:20px;
	color:white;}