<!doctype html>
<html class="no-js" lang="" ng-cloak ng-app="deliveryApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="dist/css/semantic.min.css">
        <link rel="stylesheet" href="dist/css/chosen.min.css">
        <link rel="stylesheet" href="dist/css/classic.css">
        <link rel="stylesheet" href="dist/css/classic.date.css">
        <link rel="stylesheet" href="dist/css/style.css">
        <!--[if lt IE 9]>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<![endif]-->
    </head>
    <body ng-controller="deliveryCtrl">
       <section class="page" >
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
			<header class="section section-header">
				<div class="container">
					<h1> CSL BEHRING MONTHLY DELIVERY SERVICE
						<!--<span>CSL BEHRING DELIVERS</span>-->
					</h1>
				</div>
			</header>
			<section class="section section-content">
				<div class="container">
					<form action="./includes/process_form.php" method="post" class="ui form">
						<div class="fields two">
							<div class="field">
								<label>First Name</label>
								<input name="firstname" placeholder="Patient first name" type="text" ng-model="firstname" required>
							  </div>
							  <div class="field">
								<label>Last Name</label>
								<input name="lastname" placeholder="Patient last name" type="text" ng-model="lastname" required>
							  </div>
						</div>
						
					  <div class="field">
						<label for="deliveryDate">Preferred delivery date</label>
						<input name="deliveryDate" placeholder="Pick a delivery date" type="text" id="deliveryDate" ng-model="deliveryDate" required ng-change="startDateChanged(deliveryDate)">
					  </div>
					  
					  <div class="inline fields" ng-if="deliveryDate">
    <label>Preferred time window:</label>
    <div class="field" ng-repeat="time in availableTimes">
      <div class="ui radio checkbox">
        <input type="radio" name="deliveryTime" required ng-model="deliveryTime" value="{{ time }}" >
        <label>{{ time }}</label>
      </div>
    </div>
  </div>
						  <div class="field">
							  <select class="chosen-select" name="deliveryState" id="deliveryState" ng-model="deliveryState" required>
								<option ng-repeat="(id, state) in auStates" value="{{ id }}">{{ state }}</option>
							  </select>
						</div>
						<div class="ui segment">
						<!--<h4 class="ui dividing header">Customer service</h4> -->
						<div class="field">
						<label>Contact service</label>
						<input name="contactService" placeholder="Contact service" type="text" ng-model="contactService" required>
					  </div>
					  <div class="fields two">
					  		<div class="field">
								<label>Contact email</label>
								<input name="contactEmail" placeholder="Email" type="text" ng-model="contactEmail" required>
							</div>
							<div class="field">
								<label>Contact phone number</label>
								<input name="phoneNumber" placeholder="Phone" type="text" ng-model="phoneNumber" required>
							</div>
						</div>
						<div class="field">
							<label>Instructions</label>
							<textarea name="instructions" rows="3" placeholder="Add short intructions here" ng-model="instructions"></textarea>
						</div>
						</div>
						<button class="ui button" type="submit">Submit</button>
							<!--Preferred time window: 8am – 12pm (Tu-Sa) 12pm – 4pm (M–F) 5pm – 9pm (M-Th)-->
					</form>
				</div>
			</section>
			<footer class="section section-footer">
				<div class="container">

				</div>
			</footer>
			
        </section>
        
        <script src="dist/js/modernizr-3.5.0.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="dist/js/jquery-3.2.1.min.js" type="text/javascript"><\/script>')</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
        <script src="dist/js/pickadate/picker.js" type="text/javascript"></script>
        <script src="dist/js/pickadate/picker.date.js" type="text/javascript"></script>
        
        
        <script src="dist/js/plugins.js" type="text/javascript"></script>
        
        <script src="dist/js/script.js" type="text/javascript"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script type="text/javascript" src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
