/* ============= CSS DOCUMENT RESET ============= */
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); } html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,capxion,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcapxion,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}body {line-height: 1;}blockquote,q {quotes: none;}blockquote:before,blockquote:after,q:before,q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}small,sub,sup {font-size: .55em; }sub {vertical-align: sub;}sup {vertical-align: super; }sub,sup{ line-height:10px; }

/* ============= CUSTOM FONTS ============= */

@font-face{
	font-family:fabrica;
	src:url('fonts/Fabrica.otf');
}
@font-face {
	font-family: 'HelveticaNeueLight';
	src: url('fonts/HelveticaNeue-Light.woff') format('woff'),
	url('fonts/HelveticaNeue-Light.svg#HelveticaNeueLight') format('svg'); }
@font-face {
	font-family: 'HelveticaBold';
	src: url('fonts/HelveticaBold.woff') format('woff'),
	url('fonts/HelveticaBold.svg#HelveticaBold') format('svg'); }
@font-face {
	font-family: 'HelveticaNeueLTStdRoman';
	src: url('fonts/HelveticaNeueLTStd-Roman.woff') format('woff'),
	url('fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStdRoman') format('svg'); }

/* ============= GENERAL ============= */

body{
	font-family: 'fabrica', sans-serif;
}

.container {
	font-family:inherit;
	width: 1024px;
	height:768px;
	position:relative;
	overflow:hidden;
	margin: 0px;
	padding: 0px;
}

.slide {
	margin: 0px;
	padding: 68px 0 0;
	position: relative;
	height: 700px;
	top:0px;
	z-index:1;
	overflow: hidden;
}
.slide.bg:after { content:""; position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.35); z-index:-1; }

/* ============= THEME COLOURS ============= */

.container{
	background-color: rgba(0, 0, 0, 0);
}

/* ============= THEME TEXT ============= */

h1, h2{text-align: center; font-weight:normal; }

h1{
	position:absolute;
	left:25px;
	top:0;
	font-family: 'HelveticaNeueLTStdRoman';
	color:#fff;
	font-size: 30px;
	padding: 10px 25px 5px;
	border-radius: 0 0 10px 0;
	background-color:#f5821f;
}

h2{font-size: 20px}

/* ============= NAVGATION BAR ============= */

#navigation{
	position: relative;
	top:0px;
	left:0px;
	width: 100%;
	height: 50px;
	background: black;
}

#navigation > li, .home {
	background:url('../../img/icons.png') no-repeat;
	background-size: 35px auto;
	width: 60px;
}
#navigation > li, .home{
	height: inherit;
	float: left;
}

#navigation > li[data-ref=nav-block]{
	background: unset;
	color: rgba(255, 255, 255,0.8);
	width: 960px;
	line-height: 55px;
	text-indent: 20px;
	text-transform: uppercase;
	font-size: 20px;
}
.home { position:absolute; height:50px; right:12px; bottom:12px; z-index:5; }
 #options{
   overflow: hidden;
   margin: 10px 0 10px 25px;
}
 #options > li {
        float: left;
		text-align:center;
        font-size: 17px;
		width:170px;
		text-transform:uppercase;
        padding: 5px 10px;
		color:#fff;
		font-family: 'HelveticaBold';
		border-right:1px solid #fff;
        transition: background-color 1s;
        -webkit-transition: background-color 1s;
    }
	#options > li:first-child { border-left:1px solid #fff; }
    #options > li.selected{
       color: rgba(255, 255, 255, 0.5);
    }

#navigation > li[data-ref=home], .home {background-position: 12px 8px;}
#navigation > li[data-ref=ref]{background-position: 12px -64px}
#navigation > li[data-ref=pi]{background-position: 12px -136px}
